* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Helvetica';
	src: url(./fonts/Helvetica55Roman_22439.ttf);
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Helvetica', sans-serif;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	font-weight: 600;
}

/* Nav Section */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	width: 80%;
	margin: 0 auto;
}

ul {
	display: flex;
}

ul li {
	margin-left: 2rem;
}
